@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
    --radius: 0.625rem;
    /* Blue & Purple Theme (default) */
    --background: oklch(0.984 0.002 17.195);
    --foreground: oklch(0.125 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.164 0 89.876);
    --primary: oklch(0.518 0.224 262.987);
    --primary-transparent: oklch(0.751 0.112 262.987);
    --secondary: oklch(0.65 0.25 300);
    --secondary-transparent: oklch(0.825 0.125 300);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --border: oklch(0.922 0 0);
    --shadow: rgba(0, 0, 0, 0.05);
}

.dark {
    /* Dark Blue & Purple Theme */
    --background: oklch(0.244 0.006 271.171);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.296 0.006 258.355);
    --card-foreground: oklch(0.985 0 0);
    --primary: oklch(0.7 0.24 264);
    --primary-transparent: oklch(0.472 0.12 264);
    --secondary: oklch(0.75 0.25 300);
    --secondary-transparent: oklch(0.497 0.125 300);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --border: oklch(0 0 0 / 0.1);
    --shadow: rgba(0, 0, 0, 0.1);
}

[data-theme="magenta"] {
    /* Magenta & Red Theme */
    --background: oklch(0.984 0.002 17.195);
    --foreground: oklch(0.125 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --primary: oklch(0.65 0.28 330);
    --primary-transparent: oklch(0.825 0.14 330);
    --secondary: oklch(0.6 0.25 25);
    --secondary-transparent: oklch(0.8 0.125 25);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --border: oklch(0.922 0 0);
    --shadow: rgba(0, 0, 0, 0.05);
}

[data-theme="magenta"].dark {
    /* Dark Magenta & Red Theme */
    --background: oklch(0.244 0.006 271.171);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.296 0.006 258.355);
    --card-foreground: oklch(0.985 0 0);
    --primary: oklch(0.75 0.28 330);
    --primary-transparent: oklch(0.4475 0.14 330);
    --secondary: oklch(0.7 0.25 25);
    --secondary-transparent: oklch(0.4225 0.125 25);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --border: oklch(0 0 0 / 0.1);
    --shadow: rgba(0, 0, 0, 0.1);
}
