@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
    --radius: 0.625rem;

    --light-background: oklch(0.984 0.002 17.195);
    --light-foreground: oklch(0.125 0 0);
    --light-card: oklch(1 0 0);
    --light-card-foreground: oklch(0.164 0 89.876);
    --light-muted: oklch(0.97 0 0);
    --light-muted-foreground: oklch(0.556 0 0);
    --light-border: oklch(0.922 0 0);
    --light-shadow: rgba(0, 0, 0, 0.05);

    --dark-background: oklch(0.244 0.006 271.171);
    --dark-foreground: oklch(0.95 0 0);
    --dark-card: oklch(0.296 0.006 258.355);
    --dark-card-foreground: oklch(0.95 0 0);
    --dark-muted: oklch(0.269 0 0);
    --dark-muted-foreground: oklch(0.708 0 0);
    --dark-border: oklch(0 0 0 / 0.1);
    --dark-shadow: rgba(0, 0, 0, 0.1);

    --background: var(--light-background);
    --foreground: var(--light-foreground);
    --card: var(--light-card);
    --card-foreground: var(--light-card-foreground);
    --primary: oklch(0.518 0.224 262.987);
    --primary-transparent: oklch(0.751 0.112 262.987);
    --secondary: oklch(0.65 0.25 300);
    --secondary-transparent: oklch(0.825 0.125 300);
    --muted: var(--light-muted);
    --muted-foreground: var(--light-muted-foreground);
    --border: var(--light-border);
    --shadow: var(--light-shadow);
}

.dark {
    --background: var(--dark-background);
    --foreground: var(--dark-foreground);
    --card: var(--dark-card);
    --card-foreground: var(--dark-card-foreground);
    --primary: oklch(0.7 0.24 264);
    --primary-transparent: oklch(0.472 0.12 264);
    --secondary: oklch(0.75 0.25 300);
    --secondary-transparent: oklch(0.497 0.125 300);
    --muted: var(--dark-muted);
    --muted-foreground: var(--dark-muted-foreground);
    --border: var(--dark-border);
    --shadow: var(--dark-shadow);
}

[data-theme="magenta"] {
    --background: var(--light-background);
    --foreground: var(--light-foreground);
    --card: var(--light-card);
    --card-foreground: var(--light-card-foreground);
    --primary: oklch(0.65 0.28 330);
    --primary-transparent: oklch(0.825 0.14 330);
    --secondary: oklch(0.6 0.25 25);
    --secondary-transparent: oklch(0.8 0.125 25);
    --muted: var(--light-muted);
    --muted-foreground: var(--light-muted-foreground);
    --border: var(--light-border);
    --shadow: var(--light-shadow);
}

[data-theme="magenta"].dark {
    --background: var(--dark-background);
    --foreground: var(--dark-foreground);
    --card: var(--dark-card);
    --card-foreground: var(--dark-card-foreground);
    --primary: oklch(0.75 0.28 330);
    --primary-transparent: oklch(0.4475 0.14 330);
    --secondary: oklch(0.7 0.25 25);
    --secondary-transparent: oklch(0.4225 0.125 25);
    --muted: var(--dark-muted);
    --muted-foreground: var(--dark-muted-foreground);
    --border: var(--dark-border);
    --shadow: var(--dark-shadow);
}

[data-theme="green"] {
    --background: var(--light-background);
    --foreground: var(--light-foreground);
    --card: var(--light-card);
    --card-foreground: var(--light-card-foreground);
    --primary: oklch(0.6 0.25 150);
    --primary-transparent: oklch(0.8 0.125 150);
    --secondary: oklch(0.65 0.22 90);
    --secondary-transparent: oklch(0.825 0.11 90);
    --muted: var(--light-muted);
    --muted-foreground: var(--light-muted-foreground);
    --border: var(--light-border);
    --shadow: var(--light-shadow);
}

[data-theme="green"].dark {
    --background: var(--dark-background);
    --foreground: var(--dark-foreground);
    --card: var(--dark-card);
    --card-foreground: var(--dark-card-foreground);
    --primary: oklch(0.72 0.25 150);
    --primary-transparent: oklch(0.46 0.125 150);
    --secondary: oklch(0.75 0.22 90);
    --secondary-transparent: oklch(0.485 0.11 90);
    --muted: var(--dark-muted);
    --muted-foreground: var(--dark-muted-foreground);
    --border: var(--dark-border);
    --shadow: var(--dark-shadow);
}